:root {
	--primary: #ff4646;
	--dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "SF Pro", sans-serif;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf), format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: "Allura";
    src: url(../../assets/fonts/Allura-Regular.ttf), format('truetype');
    font-weight: 400;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    margin-top: 12px;
    width: 100%;
    background-color: var(--primary);
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    padding: 12px 20px;
    width: 100%;
    height: 64px;
    max-width: 1276px;
    background: var(--static-white);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    gap: 3px;
    width: 141px;
    height: 40px;
    padding: 8px 0;
    margin-left: 20px;
}
.logo-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav{
    width: 100%;
    max-width: 1123px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 0px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    max-width: 376px;
    width: 100%;
    height: 40px;
    list-style: none;
    padding: 0;
}
.nav-item{
    position: relative;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 12px 20px;
    height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px 20px 0 0;
    padding: 60px 0px;
    width: 100%;
    max-width: 1440px;
    height: 524px;
    background: url(../../assets/images/bg-ball.png), url(../../assets/images/bg-snow.png);
    background-size: cover;
    background-position: center;
}
.hero-section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 60px 0px;
    width: 100%;
    height: 404px;
    max-width: 426px;
    margin-top: 30px;
}

.caption{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.hero-header{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.header1 {
    font-family: var(--font-family), sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-transform: uppercase;
}
.button-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 20px;
    padding: 20px 30px;
    width: 235px;
    height: 56px;
    background: var(--dark);
    color: var(--static-white);
}

.action-small {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    /*color: var(--static-white);*/
}

.about{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding: 60px 0px;
    width: 100%;
    max-width: 1440px;
    max-height: 648px;
    background: url(../../assets/images/bg-snow.png);
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    border-radius: 20px;
    width: 100%;
    max-width: 1276px;
    height: 528px;
    background: var(--static-white);
}
.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px;
    width: 50%;
    height: 100%;
}
.about-text-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
    width: 100%;
    height: 328px;
    max-width: 426px;
}

.about-santa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    border-radius: 20px;
    min-width: 50%;
    overflow: hidden;
}
.about-santa img{
    width: auto;
    height: 100%;
    max-width: 638px;
    max-height: 528px;
    object-fit: cover;
}

.header-2 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color:var(--dark);
}
.paragraph {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    color: var(--dark);
}

.caption-about{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--primary);
}
.slider-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 60px 0px;
    width: 100%;
    height: 488px;
    background: url(../../assets/images/bg-snow.png);
    overflow-x: hidden;
    margin-top: -60px;
}
.slider-section-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 368px;
    max-width: 1276px;
}
.slider-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 72px;
    max-width: 426px;
}
.slider-header{
    color: var(--static-white);
}
.slider-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    max-width: 1276px;
    width: 100%;
    height: 200px;
    margin-top: 40px;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 1993px;
    height: 200px;
}
.slider-text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}
.buttons{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1276px;
    height: 56px;
}
.button-left, .button-right{
    border: 1px solid var(--static-white-40);
    width: 56px;
    height: 56px;
    background: none;
}

.button-primary:disabled{
    cursor: not-allowed;
    opacity: 0.3;
    background: none;
}

.rotated-svg{
    transform: rotate(180deg);
    transform-origin: center;
}

.action-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.best-gifts{
    min-height: 554px;
    height: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 60px 0px;
    background: url(../../assets/images/bg-snow.png);
    margin-top: -80px;
}

.best-gifts-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1276px;
    min-height: 434px;
}
.best-gifts-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 72px;
    max-width: 426px;
}

.best-gifts-header{
    color: var(--static-white);
    margin-top: -25px;
}

.best-gifts-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    max-width: 1276px;
    min-height: 342px;
    margin-top: 35px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px;
    width: 310px;
    height: 342px;
    background: var(--content-background);
    cursor: pointer;
}
.card-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    padding: 20px;
    width: 86%;
    height: 112px;
    background: var(--static-white);
}
/* Цвета категорий */
.card[data-label="For Work"] .header-4 {
    color:var(--tag-purple);
  }
.card[data-label="For Health"] .header-4 {
    color: var(--tag-green);
  }
.card[data-label="For Harmony"] .header-4 {
    color: var(--tag-pink);
  }

.header-3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.52;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark);
}

.header-4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 0 0 20px 20px;
    padding: 60px 0px;
    width: 100%;
    height: 668px;
    background: url(../../assets/images/bg-forest.png), url(../../assets/images/bg-snow.png);
    background-size: cover;
    background-position: center;
}
.cta-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px;
    padding: 60px 0px;
    width: 100%;
    height: 548px;
    max-width: 1276px;
}
.cta-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
    width: 100%;
    height: 428px;
    max-width: 426px;
}
.cta-head{
    margin-left: 30px;
    color: var(--static-white);
}
.cta-timer-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 426px;
    height: 104px;
}
.cta-timer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    border-radius: 20px;
    padding: 8px 12px 12px 12px;
    width: 344px;
    height: 72px;
    background: var(--static-white-40);
}
.timer-unit{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 80px;
    height: 52px;
}
.timer-value, .timer-label{
    color: var(--content-background);
}
.separator{
    border: 1px solid var(--static-white-40);
    width: 20px;
    height: 0px;
    transform: rotate(90deg);
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 60px 0px;
    width: 100%;
    min-height: 496px;
    background: var(--static-white);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    min-height: 376px;
    max-width: 1276px;
}
.footer-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 60px;
    max-width: 1276px;
    width: 100%;
    min-height: 204px;
}
.contacts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    height: 204px;
    background: var(--content-background);
    text-decoration: none;
}

.footer-other{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    max-width: 1276px;
    width: 100%;
    height: 112px;
}
.socials{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 196px;
    height: 40px;
}
.action-large{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}
.socials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding: 8px;
    width: 40px;
    height: 40px;
}
.mask{
    width: 24px;
    height: 24px;
    background-color:var(--dark);
    transition: background-color 0.3s;
}
.telegram-mask{
    mask: url(../../assets/icons/telegram.svg) no-repeat center;
}
.facebook-mask{
    mask: url(../../assets/icons/facebook.svg)
}
.instagram-mask{
    mask: url(../../assets/icons/instagram.svg);
}
.x-mask{
    mask: url(../../assets/icons/X.svg);
}

.rs{
    color:var(--dark);
    text-decoration: none;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    background-color: var(--content-background);
    margin: 5% auto;
    width: 100%;
    max-width: 400px;
    padding: 0px;
    border-radius: 20px;
    height: 514px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: modalopen 0.3s;
}
.close{
    position: absolute;
    right: 20px;
    top: 3px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}
.close:hover{
    color: var(--primary);
}
.modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.modal-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-text {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    height: 284px;
    background: var(--static-white);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 360px;
    height: 104px;
}
.modal-stats{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 360px;
    height: 120px;
}
.modal-stats-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    max-width: 360px;
    height: 96px;
}
.modal-stat-block{
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
    width: 360px;
    height: 24px;
}
.span-1{
    width: 150px;
}
.modal-stars{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 112px;
    height: 16px;
}

@keyframes modalopen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

.burger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }

  /* Стили иконки бургера */
  .burger-line {
    display: block;
    width: 30px;
    height: 3px;
    background: #333;
    position: relative;
    transition: all 0.3s ease;
  }

  .burger-line::before,
  .burger-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    left: 0;
    transition: all 0.3s ease;
  }

  .burger-line::before {
    top: -8px;
  }

  .burger-line::after {
    top: 8px;
  }

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    /* Для мобильных устройств */
    touch-action: none;
  }

@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        color: #FF5733; /* Цвет текста при ховере */
        background-color: #F8F8F8; /* Цвет фона при ховере */
    }
    .button-primary:hover {
        background: var(--static-white);
        color: var(--dark);
        cursor: pointer;
    }
    .best-gift-card:hover .header-3 {
        color: var(--primary);
    }
    .close:hover {
        color: var(--primary);
    }
    .contacts-container:hover .action-large,.contacts-container:hover .header-3{
        color: var(--primary);
    }
    .mask:hover{
        background-color: var(--primary);
    }
    .rs:hover{
        color:var(--primary);
    }

}
@media screen and (max-width: 768px) {
    .about{
        max-width: 768px;
        padding: 60px 0px;
    }
    .about-content{
        max-width: 752px;
        max-height: 529px;
    }
    .about-text-content{
        max-width: 256px;
    }

    .slider-section-content{
        margin-left: 8px;
    }
    .footer-contacts{
        max-width: 752px;
        width: 100%;
    }

    .contacts-container{
        max-width: 752px;
        width: 100%;
    }


    .burger-btn {
        display: block; /* Показываем бургер */
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .nav.active {
        left: 0;
      }

      .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 0 20px;
      }

      .nav-link {
        font-size: 18px;
      }

      /* Анимация бургера в крестик */
      .burger-btn.active .burger-line {
        background: transparent;
      }

      .burger-btn.active .burger-line::before {
        transform: rotate(45deg);
        top: 0;
      }

      .burger-btn.active .burger-line::after {
        transform: rotate(-45deg);
        top: 0;
      }


}
@media screen and (max-width: 380px) {
    .about{
        max-height: 1000px;
        max-width: 380px;
        width: 100%;
        padding: 0px 8px;
    }
    .about-content{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        max-height: 880px;
        max-width: 364px;
        height: 100%;
    }
    .about-text{
        width: 100%;
        max-width: 340px;
        max-height: 352px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0px 20px;
        gap: 0px;
    }
    .about-text-content{
        gap: 0px;
        width: 100%;
        max-width: 324px;
        max-height: 352px;
    }
    .about-santa{
        width: 100%;
        max-width: 380px;
        max-height: 528px;
        height: 100%;
    }

  }