:root {
	--primary: #ff4646;
	--dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "SF Pro", sans-serif;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf), format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: "Allura";
    src: url(../../assets/fonts/Allura-Regular.ttf), format('truetype');
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paragraph {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    color: var(--dark);
}
.action-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}
.header-3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.52;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark);
}
.caption{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    padding: 12px 0px;
    width: 100%;
    height: 64px;
    max-width: 1276px;
    background: var(--static-white);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    gap: 3px;
    width: 141px;
    height: 40px;
    padding: 8px 20px;
}
.logo-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav{
    width: 100%;
    max-width: 1123px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
}
.nav-list{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 376px;
    height: 40px;
    list-style: none;
    padding: 0;
}
.nav-item{
    position: relative;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 12px 20px;
    height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav-link.active{
    cursor: default;
    pointer-events: none;
    color: #FF5733; /* Цвет текста при ховере */
    background-color: #F8F8F8; /* Цвет фона при ховере */
}
.nav-link:not(active):hover {
    color: #FF5733; /* Цвет текста при ховере */
    background-color: #F8F8F8; /* Цвет фона при ховере */
}
.gifts-table{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    height: fit-content;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    margin-top: 12px;
    padding: 60px 0px;
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 64px);
    background: var(--primary);
}
.bg-garland{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 200px;
    background: url(../../assets/images/bg-garland.png);
    background-size: cover;
    background-position: center;
}
.header-1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}
.gifts-container{
    position: static;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
    width: 100%;
    height: fit-content;
    max-width: 1276px;
}
.gifts-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 144px;
    max-width: 426px;
}
.gifts-tabs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    max-width: 474px;
    width: 100%;
    height: 40px;
}
.tab-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 12px;
    padding: 12px 20px;
    height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--static-white);
    background: var(--primary);
    transition: background 0.3s;
}
.tab-link.active {
    background: var(--static-white-20);
    cursor: default; /* Меняем курсор на стандартный */
    pointer-events: none; /* Блокируем клики */
  }
.tab-link:not(.active):hover{
    background: var(--static-white-20);
}
.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px;
    width: 310px;
    height: 342px;
    background: var(--content-background);
    cursor: pointer;
}
.card-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    padding: 20px;
    width: 86%;
    height: 112px;
    background: var(--static-white);
}
/* Цвета категорий */
.card[data-label="For Work"] .header-4 {
    color:var(--tag-purple);
  }
.card[data-label="For Health"] .header-4 {
    color: var(--tag-green);
  }
.card[data-label="For Harmony"] .header-4 {
    color: var(--tag-pink);
  }
.footer-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 60px 0px;
    width: 100%;
    min-height: 496px;
    background: var(--static-white);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    min-height: 376px;
    max-width: 1276px;
}
.footer-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    border-radius: 60px;
    width: 100%;
    max-width: 1276px;
    min-height: 204px;
}
.contacts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 417px;
    height: 204px;
    background: var(--content-background);
    text-decoration: none;
}
.contacts-container:hover .action-large,.contacts-container:hover .header-3{
    color: var(--primary);
}
.footer-other{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 1276px;
    height: 112px;
}
.socials{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    max-width: 196px;
    height: 40px;
}
.action-large{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}
.socials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding: 8px;
    width: 40px;
    height: 40px;
}
.mask{
    width: 24px;
    height: 24px;
    background-color:var(--dark);
    transition: background-color 0.3s;
}
.telegram-mask{
    mask: url(../../assets/icons/telegram.svg) no-repeat center;
}
.facebook-mask{
    mask: url(../../assets/icons/facebook.svg)
}
.instagram-mask{
    mask: url(../../assets/icons/instagram.svg);
}
.x-mask{
    mask: url(../../assets/icons/X.svg);
}
.mask:hover{
    background-color: var(--primary);
}
.rs{
    color:var(--dark);
    text-decoration: none;
}
.rs:hover{
    color:var(--primary);
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    background-color: var(--content-background);
    margin: 5% auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    height: 514px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: modalopen 0.3s;
}
.close{
    position: absolute;
    right: 20px;
    top: 3px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}
.close:hover{
    color: var(--primary);
}
.modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.modal-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-text {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    height: 284px;
    background: var(--static-white);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    height: 104px;
}
.modal-stats{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    height: 120px;
}
.modal-stats-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 96px;
}
.modal-stat-block{
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
    width: 360px;
    height: 24px;
}
.span-1{
    width: 150px;
}
.modal-stars{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 112px;
    height: 16px;
}

.burger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }

  /* Стили иконки бургера */
  .burger-line {
    display: block;
    width: 30px;
    height: 3px;
    background: #333;
    position: relative;
    transition: all 0.3s ease;
  }

  .burger-line::before,
  .burger-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    left: 0;
    transition: all 0.3s ease;
  }

  .burger-line::before {
    top: -8px;
  }

  .burger-line::after {
    top: 8px;
  }


@media screen and (max-width: 768px) {
    .about{
        max-width: 768px;
        padding: 60px 0px;
    }
    .about-content{
        max-width: 752px;
        max-height: 529px;
    }
    .about-text-content{
        max-width: 256px;
    }

    .slider-section-content{
        margin-left: 8px;
    }
    .footer-contacts{
        max-width: 752px;
        width: 100%;
    }

    .contacts-container{
        max-width: 752px;
        width: 100%;
    }


    .burger-btn {
        display: block; /* Показываем бургер */
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
    }
    .nav.active {
        left: 0;
      }

      .nav-list {
        flex-direction: column;
        gap: 25px;
        padding: 0 20px;
      }

      .nav-link {
        font-size: 18px;
      }

      /* Анимация бургера в крестик */
      .burger-btn.active .burger-line {
        background: transparent;
      }

      .burger-btn.active .burger-line::before {
        transform: rotate(45deg);
        top: 0;
      }

      .burger-btn.active .burger-line::after {
        transform: rotate(-45deg);
        top: 0;
      }
}

@media screen and (max-width: 768px) {
    .footer-contacts{
        max-width: 752px;
        width: 100%;
        flex-direction: column;
    }

    .contacts-container{
        max-width: 752px;
        width: 100%;
    }

    .burger-btn {
        display: block; /* Показываем бургер */
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
    }
    .nav.active {
        left: 0;
      }

      .nav-list {
        flex-direction: column;
        gap: 25px;
        padding: 0 20px;
      }

      .nav-link {
        font-size: 18px;
      }

      /* Анимация бургера в крестик */
      .burger-btn.active .burger-line {
        background: transparent;
      }

      .burger-btn.active .burger-line::before {
        transform: rotate(45deg);
        top: 0;
      }

      .burger-btn.active .burger-line::after {
        transform: rotate(-45deg);
        top: 0;
      }
}

@media screen and (max-width: 380px) {

}